@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

:root {
	--primary-color: #2C1DC4;
	--primary-color-dark: #1D109E;
	--secondary-color: #F3925F;
	--secondary-dark-color: #873307;
	--very-light-gray: #F8F8F8;
	--light-gray: #e1e1e1;
	--gray: #D6D6D6;
	--very-dark-grey: #232323;
    --red: #FC5961;
    --dark-red: #e5424a;
	--yellow: #FCC75C;
	--green: #08C8A0;
	--light-green: #ecfffd;
	--margin-root: 5px;
}

*,
 ::after,
 ::before {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

.reset-styling {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
	font-family: 'Quicksand';
	font-size: 16px;
	line-height: 1.5;
	color: var(--very-dark-grey);
	text-align: left;
}

body {
	background-color: var(--very-light-gray);
}


/*buttons*/

.btn {
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	font-weight: bold;
	font-size: 1rem;
	padding: 16px 30px;
	text-decoration: none;
	display: inline-block;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	border: solid 2px var(--primary-color);
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-icon {
    cursor: pointer;
    text-align: center;
    width: 28px;
    height: 28px;
    text-decoration: none;
    display: inline-block;
    align-items: center;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
    border: solid 2px var(--primary-color);
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-primary {
	color: white;
	background-color: var(--primary-color);
}

.btn-primary:hover {
	color: white;
	background-color: var(--primary-color-dark);
}

.btn-secondary {
	color: var(--primary-color);
	background-color: white;
}

.btn-secondary:hover {
	color: var(--primary-color);
	background-color: var(--light-gray);
}

.btn-tertiary {
	color: var(--primary-color);
	border: 0px;
	padding: 10px 10px;
	background: none;
}

.btn-tertiary:hover {
	text-decoration: underline;
}

.btn-red {
    border-color:  var(--red);
    background-color: var(--red);    
}

.btn-red:hover {
    border-color:  var(--dark-red);
    background-color: var(--dark-red);    
}


/*buttons-end*/


/*colors-text*/

h1 {
	font-size: 3rem;
	font-weight: bold;
	padding: 0;
	margin: 0;
	line-height: 3rem;
}

h2 {
	font-size: 2rem;
	font-weight: bold;
	line-height: 2rem;
	padding: 0;
	margin: 0;
}

.txt-big {
	font-size: 2rem;
}

.txt-middle {
	font-size: 1.5rem;
}

.lead {
	font-size: 1.5rem;
}

.lead-s {
	font-size: 1.1rem;
}

.bg-primary {
	background-color: var(--primary-color);
}

.bg-secondary {
	background-color: var(--secondary-color) !important;
}

.bg-white {
	background-color: white;
}

.bg-green {
	background-color: var(--green);
}

.bg-yellow {
	background-color: var(--yellow);
}

.bg-red {
	background-color: var(--red);
}

.color-primary {
	color: var(--primary-color);
}

.color-secondary {
	color: var(--secondary-color);
}

.color-secondary-dark {
	color: var(--secondary-dark-color);
}

.color-white {
	color: white;
}

.txt-center {
	text-align: center;
}

.txt-left {
	text-align: left;
}

/*colors-text-end*/


/*navbar*/

.navbar>* {
	display: inline-block;
}

.navbar-brand {
	margin-right: 20px;
}

.navbar-brand a img {
	vertical-align: middle;
}

.navbar {
	display: flex;
	width: 100%;
	min-height: 81px;
	justify-content: flex-end;
	align-items: center;
}

.navbar-links {
	margin-left: auto;
}

/*navbar-end*/


/*hero*/

#hero {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 70vh;
	min-height: 300px;
	background: url("../img/hero-bg.png") no-repeat fixed;
}


/*hero-header*/


/*footer*/

#footer {
	display: block;
	border-top: solid 1px var(--light-gray);
	padding: 20px;
}


/*footer-end*/


/*form*/

.color-radio_container {
    display: inline-flex;
    height: 32px;
	width: 32px;
    position: relative;
	padding: 0;
	margin: 1px;
    vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.color-radio_container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	height: 32px;
	width: 32px;
	border: 0;
	border-radius: 50%;
	opacity: 0.3;
	font-size: 1px;
	line-height: 1px;
}

.input-radio {
	display: inline-flex;
	flex: 1;
	width: 100%;
}

.input-radio .inside {
	position: absolute;
	bottom: 10px;
	right: 158px;
}

.color-radio_container:hover input~.checkmark {
	opacity: 0.8;
}

.color-radio_container input:checked~.checkmark {
	opacity: 1;
}

input {   
    outline: none;
}

input[type="text"] {
	border: solid 1px var(--gray);
	border-radius: 12px;
	min-height: 52px;
	padding: 0 15px;
    width: 100%;
}

input[type="text"]:focus {
	border: solid 2px var(--secondary-color);
	box-shadow: 0px 2px 4px #0000000D;
}

label {
    font-size: 0.95rem;
    font-weight: bold;
    display: block;
    padding-left: 12px;
	margin: 10px 0 5px 0;
}

.label-info {
	font-weight: normal;
}

.label-error {
	color: var(--dark-red);
	font-weight: normal;	
	text-align: right;
	display: inline-block;
	float: right;
}
/*form-end*/


/*subpage-content*/

.subpage-content {
	background-color: var(--very-light-gray);
	position: relative;
}

hr {
	width: 100%;
	border: none;
    height: 1px;
    color: var(--very-light-gray);
    background-color: var(--light-gray);
	margin: 25px 0;
}

.subpage-content::before {
	position: absolute;
	content: '';
	height: 90px;
	width: 100%;
	left: 0;
	top: 0;
	background-color: var(--primary-color);
	z-index: 5;
}

.subpage-content .container {
	background-color: white;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.11);
	margin-bottom: calc(var(--margin-root) * 10);
	position: relative;
	z-index: 10;
}

.linkset-container {
    background-color: var(--very-light-gray);
    border-radius: 12px;
    padding: 15px 25px 25px 25px;
    margin: 10px 0;
}

.link-container {
    background-color:  white;
    border: dashed 1px var(--light-gray);
    border-radius: 12px;
    padding: 15px 25px 25px 25px;
	margin: 10px 0;
	display: block;
	position: relative;
}

.link-container-buttons {
	position: absolute;
	top: 4px;
	right: 4px;
	z-index: 1200;
}

.link-container-buttons a {
	margin-left: 2px;
}

.link-label-color-options {
	position: absolute;
	top: 46px;
	right: 28px;
}

.link-label-color-options ~ input {
	padding-right: 130px;
}

.link-container label {
	position: relative;
	z-index: 1;
}

.add-link-button {
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 20px;
    font-weight: bold;
    color: var(--green);
	text-align: center;
	border-color: var(--green);
    justify-content: center;
}

.add-link-button img {
	display: inline;
	margin-right: 5px;
}

.add-link-button:hover {
	background-color: var(--light-green);
}

/*subpage-content-end*/

/*login*/

#login .container {
	max-width: 500px;
}

/*login=end*/

/*linkset*/
.linkset {
	border: solid 1px var(--light-gray);
	border-radius: 12px;
	display: flex;
	align-items: center;       /* new */
	  justify-content: center; 
	  margin-bottom: var(--margin-root);
}

#linkset-list > .linkset:last-child{
	margin-bottom: 0;
}

.linkset:hover {
	border-color: var(--secondary-color);
}

.linkset-options {
	margin-left: auto;
	align-content: left;
	align-items: center;
  justify-content: center;

}

.linkset .linkset-number {
	font-weight: bold;
	color: var(--gray);
}

.linkset:hover .linkset-number {
	color: var(--secondary-color);
}

.linkset .linkset-name {
	font-weight: bold;
}

.linkset .linkset-author {
	font-size: 0.9rem;
}

.linkset .number-of-links {
	font-weight: bold;
	font-size: 0.95rem;
	color: var(--primary-color);
}

.share-link div {
	display: inline-block;
	width: 28px;
	height: 28px;
	background: url("../img/share-icon.svg") no-repeat center center;
}

.share-link:hover div {
	background: url("../img/share-icon-hover.svg") no-repeat center center;
}